<launch>
  <node name="dynamixel_tilt" pkg="dynamixel_tilt" type="dynamixel_tilt" required="true" output="screen">
    <rosparam>
      device_name: "/dev/ttyUSB0"
      baud_rate: 1000000
      motor_model: "XM430_W350_R"
      motor_id: 2
      protocol_version: 2.0
      profile_velocity: 3
      profile_acceleration: 10
    </rosparam>
  </node>

  <node pkg="dynamixel_tilt" name="dynamixel_tf" type="dynamixel_tf" required="true" output="screen">
  </node>

  <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="hlds_laser_publisher" output="screen">
    <param name="port" value="/dev/ttyUSB1"/>
    <param name="frame_id" value="laser_angle"/>
  </node>

</launch>
